@import url('https://fonts.googleapis.com/css?family=Arimo|Fjalla+One');

:root {
    --main-font-color: #FCE694;
    --main-bg-color: #383F51;
}

body{
    background-color: var(--main-bg-color);
}

.title{
    font-family: 'Fjalla One', sans-serif;
    color: var(--main-font-color);
    text-align: center;
    font-size: 6em;
    margin-top: 0.1em;
    margin-bottom: 0;
}

.col-lg-6{
    padding: 10px;
}

.graphTitle{
    color: var(--main-font-color);
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
}

.graphContainer{
    flex-basis: 0 !important;
}

.descriptorContainer{
    height: 2em;
    background-color: transparent;
}

.descriptor {
    font-family: 'Fjalla One', sans-serif;
    color: var(--main-font-color);
    font-size: 2em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}
.faqRow{
    height: 6em;
}